body{
    font-family:cursive;
    margin: 10%;
    text-align: center;
}

hr{
    margin-top: 60px;
    margin-bottom: 60px;
}

.rightBtn{
    padding: 15px 40px 15px 40px;
    font-size: 16px;
    border-radius: 25px;
    color: white;
}

#btn1{
    background-color: darkcyan;
    border: 3px solid cyan;
}

#btn2{
    background-color: darkmagenta ;
    border: 3px solid magenta;
}

#btnHover{
    padding: 40px 150px 40px 150px;
    font-size: 30px;
    background-color: red;
    color: white;
    box-shadow: 3px 3px 10px darkred;
}

label{
    padding-top: 10px;
    padding-bottom: 10px;
}

.user-form{
    width: 50%;
    background-color: lightgray;
    border: 2px solid gray;
    margin :auto;
}

#user-info{
    display:flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 15px;
}

