body{
    margin: 20px 100px 0px 100px;
}
.grid-container{
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: darkred;
    padding: 10px;
}
.grid-item{
    background-color:darksalmon;
    padding: 20px;
    border: 1px solid white;
    font-size: 30px;
    text-align: center;
    color: white;
}